<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerEdge-Server</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4; /* Optional background color */
        }
        h1 {
            font-size: 4rem; /* Big header size */
            color: #333; /* Optional text color */
        }
    </style>
</head>
<body>
    <div style="display: grid; text-align: center;">
        <h1>Welcome to Power Edge Server</h1>
        <h2 style="color: rgb(12, 161, 12);">Powered by Ahmed Mokhtar</h2>
    </div>
</body>
</html>
